@charset "UTF-8";

/*Fonts Importings*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*CSS Variables*/
:root {
    --font-1 : Verdana, Geneva, Tahoma, sans-serif;
    --font-2 : "Passion One", cursive;
    --font-3 : "Sriracha", cursive;
}

* { /*general settings*/
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #E58F65;
    min-width: 100%; /*or 100vh view height*/
    font-family: var(--font-1);
}

header {
    background-color: #191919;
    color: white;
    font-family: var(--font-2);
    text-align: center;
}

header > h1 {
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { 
    font-family: var(--font-3);
    font-size: 3.5vw;
    line-height: 2em;  
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(46, 46, 46);  
    background-size: cover;
    box-shadow: inset 0px 0px 17px -5px black;
    color: white;
    background-attachment: fixed;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.555);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-color: gray;
    background-image: url("../images/background001.jpg");
    background-position: right center;
    
}

section#img02 {
    background-color: gray;
    background-image: url("../images/background002.jpg");
    background-position: center center;
}

main {

}

footer {
    background-color: #191919;
    color: white;
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
}